<div class="container-start">
  <div class="container-fluid d-grid gap-3">
    <div class="row justify-content-center">
      <div class="col-7 ">
        <div class="graphic">
          <canvas id="myChart" ></canvas>
          <select id="filterPeriod">
            <option value="monthly">Lucro por Mês</option>
            <option value="daily">Lucro por Dia</option>
            <option value="yearly">Lucro por Ano</option>
          </select>
        </div>
      </div>

      <div class="col-3">
        <div class="d-flex flex-column align-items-center ">
          <% @vendas_por_mes.each do |mes, total_vendas| %>
            <div class="mes-vendas">
              <h5><%= mes %></h5>
              <p>Total de Vendas: <%= total_vendas%> </p>
              <h5>Lucro Total: <%= number_to_currency(@lucro, unit: "R$", separator: ",", delimiter: ".") %></h5>
            </div>
          <% end %>
        <div class="pizza">
          <canvas id="myPieChart" ></canvas>
        </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-7">
        <div class= "d-flex flex-row ">
          <div class="mov">
            <h2> Últimas Movimentações</h2>
            <ul>
              <% @movimentacoes_recentes.each do |mov| %>
                <li>
                  <strong><%= mov.movement_type.capitalize %></strong> -
                  Produto: <%= mov.product.name %>,
                  Preço: R$ <%= number_to_currency(mov.price || sum(mov) , unit: "R$", separator: ",", delimiter: ".") %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="produtos">
            <h3>Produtos</h3>
            <p>Total em estoque: <%= @products.count %></p>
            <% if @products.any? { |product| product.stock_quantity < 10 } %>
              <div class="estoque-baixo">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Estoque baixo</a>
                <ul class="dropdown-menu">
                  <% @products.each do |product| %>
                    <% if product.stock_quantity < 10 %>
                      <li class="nav-item"><%= product.name %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="col-3">
      </div>

    </div>
  </div>
</div>



<script>
  document.addEventListener("turbo:load", function() {
    var ctx = document.getElementById('myChart').getContext('2d');

    var dataSets = {
      monthly: {
          labels: <%= raw @lucro_por_mes.keys.to_json %>,
        data: <%= raw @lucro_por_mes.values.to_json %>
      },
      daily: {
          labels: <%= raw @lucro_por_dia.keys.to_json %>,
        data: <%= raw @lucro_por_dia.values.to_json %>
      },
      yearly: {
          labels: <%= raw @lucro_por_ano.keys.to_json %>,
        data: <%= raw @lucro_por_ano.values.to_json %>
      }
    };

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: dataSets.monthly.labels,
        datasets: [{
          label: 'Lucro',
          data: dataSets.monthly.data,
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: { beginAtZero: true }
        }
      }
    });

    document.getElementById("filterPeriod").addEventListener("change", function() {
      var selectedPeriod = this.value;
      myChart.data.labels = dataSets[selectedPeriod].labels;
      myChart.data.datasets[0].data = dataSets[selectedPeriod].data;
      myChart.update();
    });
  });
</script>

<script>
  document.addEventListener("turbo:load", function() {
    var ctx = document.getElementById('myPieChart').getContext('2d');

    var labels = <%= raw @top_products.map { |p| p.product.name }.to_json %>;
    var dataValues = <%= raw @top_products.map { |p| p.total_quantity }.to_json %>;

    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: labels,
        datasets: [{
          data: dataValues,
          backgroundColor: ['#00B9AE', '#037171', '#03312E', '#02C3BD', '#009F93'],
          borderColor: ['#00B9AE', '#037171', '#03312E', '#02C3BD', '#009F93'],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          tooltip: {
            callbacks: {
              label: function(tooltipItem) {
                return tooltipItem.label + ': ' + tooltipItem.raw + ' unidades';
              }
            }
          }
        }
      }
    });
  });
</script>