<div class="container-fluid mt-4">
  <div class="row g-3">
    <div class="col-md-6">
      <div class="card p-4 shadow-sm">
        <h5 class="text-center">📊 Lucro ao Longo do Tempo</h5>
        <canvas id="myChart" style="max-height: 250px; width: 100%;"></canvas>
        <select id="filterPeriod" class="form-select mt-2">
          <option value="monthly">Lucro por Mês</option>
          <option value="daily">Lucro por Dia</option>
          <option value="yearly">Lucro por Ano</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card p-2 shadow-sm">
        <h5 class="text-center">📊 Distribuição de Vendas</h5>
        <canvas id="myPieChart" style="max-height: 180px; width: 100%;"></canvas>
      </div>
    </div>
  </div>

  <div class="row mt-4 g-3">
    <div class="col-md-4">
      <div class="card p-4 shadow-sm text-center" style="background-color: #e3f2fd; border-color: #90caf9;">
        <h5>💰 Gastos do Mês</h5>
        <p class="fs-4 fw-bold"><%=number_to_currency(@monthly_entries.values.sum, unit: "R$", separator: ",", delimiter: ".")%> </p>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-4 shadow-sm text-center" style="background-color: #e3f2fd; border-color: #90caf9;">
        <h5>🛒 Total de Vendas</h5>
        <p class="fs-4 fw-bold"><%= @vendas_por_mes.values.sum %> vendas</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-4 shadow-sm text-center" style="background-color: #e3f2fd; border-color: #90caf9;">
        <h5>📈 Lucro</h5>
          <p class="fs-4 text-success">R$ <%= number_to_currency(@lucro, unit: "R$", separator: ",", delimiter: ".") %></p>
      </div>
    </div>
  </div>

  <div class="row mt-4 g-2">
    <div class="col-md-6">
      <div class="card p-2 shadow-sm" style="background-color: #e3f2fd; border-color: #90caf9;">
        <h5>📋 Últimas Movimentações</h5>
        <ul>
          <% @movimentacoes_recentes.each do |mov| %>
            <li>
              <strong><%= mov.movement_type.capitalize %></strong> - 
              Produto: <%= mov.product.name %>, 
              Preço: R$ <%= number_to_currency(mov.price || sum(mov), unit: "R$", separator: ",", delimiter: ".") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card p-3 shadow-sm " style="background-color: #e3f2fd; border-color: #90caf9;">
        <div class="d-flex flex-row ">
          <div class="card-1">
            <h5>📦 Total em Estoque</h5>
            <p class="fs-4"><%= @products.count %> produtos</p>
          </div>
          <li class="nav-item-1 dropdown" style="list-style-type: none;">
            <a class="nav-link-1 dropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">🔔</a>
            <ul class="dropdown-menu">
              <% @low_stock_products.each do |product| %>
                <li class="nav-item"><%= product.name %></li>
              <% end %>
            </ul>
          </li>
        </div>
          <h5>🏆 Produto Mais Vendido</h5>
          <p class="fs-4"><%= @top_products.first.product.name if @top_products.any? %></p>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    var ctx = document.getElementById('myChart').getContext('2d');
    // var dataSets = {
    //   monthly: {
    //     labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
    //     data: [5000, 7000, 8000, 6000, 9500, 11000, 12000, 13000, 9000, 8500, 7500, 8800]
    //   },
    //   daily: {
    //     labels: ["01", "02", "03", "04", "05", "06", "07"],
    //     data: [500, 1200, 800, 600, 1500, 1100, 1300]
    //   },
    //   yearly: {
    //     labels: ["2021", "2022", "2023", "2024"],
    //     data: [80000, 95000, 102000, 115000]
    //   }
    // };
    var dataSets = {
      monthly: {
          labels: <%= raw @lucro_por_mes.keys.to_json %>,
          data: <%= raw @lucro_por_mes.values.to_json %>
      },
      daily: {
          labels: <%= raw @lucro_por_dia.keys.to_json %>,
          data: <%= raw @lucro_por_dia.values.to_json %>
      },
      yearly: {
          labels: <%= raw @lucro_por_ano.keys.to_json %>,
          data: <%= raw @lucro_por_ano.values.to_json %>
      }
    };

    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: dataSets.monthly.labels,
        datasets: [{
          label: 'Lucro',
          data: dataSets.monthly.data,
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 2, // Espessura da borda
          borderRadius: 8 // Cantos arredondados
        }]
      },
      options: {
        responsive: true,
        scales: {
          y: { 
            beginAtZero: true,
            grid: {
              display: false // Remove as linhas de marcação no eixo Y
            }
          },
          x: {
            grid: {
              display: false // Remove as linhas de marcação no eixo X
            }
          }
        },
        plugins: {
          legend: {
            display: false // Remove a legenda
          },
          tooltip: {
            backgroundColor: 'rgba(0, 0, 0, 0.7)', // Cor do fundo do tooltip
            titleColor: 'rgba(255, 255, 255, 0.9)', // Cor do título do tooltip
            bodyColor: 'rgba(255, 255, 255, 0.9)', // Cor do corpo do tooltip
            borderColor: 'rgba(255, 255, 255, 0.9)', // Cor da borda do tooltip
            borderWidth: 1 
          }
        }
      }
    });

    document.getElementById("filterPeriod").addEventListener("change", function() {
      var selectedPeriod = this.value;
      myChart.data.labels = dataSets[selectedPeriod].labels;
      myChart.data.datasets[0].data = dataSets[selectedPeriod].data;
      myChart.update();
    });
  });
</script>



<script>
  document.addEventListener("turbo:load", function() {
    var ctx = document.getElementById('myPieChart').getContext('2d');

    var labels = <%= raw @top_products.map { |p| p.product.name }.to_json %>;
    var dataValues = <%= raw @top_products.map { |p| p.total_quantity }.to_json %>;

    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: labels,
        datasets: [{
          data: dataValues,
          backgroundColor: ['#00B9AE', '#037171', '#03312E', '#02C3BD', '#009F93'],
          borderColor: ['#00B9AE', '#037171', '#03312E', '#02C3BD', '#009F93'],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        plugins: {
          legend: {
            position: 'top',
          },
          tooltip: {
            callbacks: {
              label: function(tooltipItem) {
                return tooltipItem.label + ': ' + tooltipItem.raw + ' unidades';
              }
            }
          }
        }
      }
    });
  });
</script>