<div class="container-start">
<div class="sla">
  <div class="graphic">
    <canvas id="myChart" width="400" height="200"></canvas>

    <script>
      document.addEventListener("turbo:load", function() {
        var ctx = document.getElementById('myChart').getContext('2d');
        var labels = <%= raw @lucro_por_mes.keys.to_json %>;
        var dataValues = <%= raw @lucro_por_mes.values.to_json %>;

        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [{
              label: 'Lucro',
              data: dataValues,
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });
    </script>
      <%= @lucro_por_mes.inspect %>
    </div>

  <div class="produtos">
    <h3>Produtos</h3>
    <p>Total em estoque: <%= @products.count %></p>
    <p class="stock">
      <% @products.each do |product| %>
        <% if product.stock_quantity < 10 %>
        <h5>Estoque baixo</h5>
          <%= product.name %>
        <% end %>
      <% end %>
    </p>
  </div>
</div>

  <div class="division">
  <div class="mov">
    <h2> Últimas Movimentações</h2>
    <ul>
      <% @movimentacoes_recentes.each do |mov| %>
        <li>
          <strong><%= mov.movement_type.capitalize %></strong> -
          Produto: <%= mov.product.name %>,
          Preço: R$ <%= number_to_currency(mov.price || sum(mov) , unit: "R$", separator: ",", delimiter: ".") %>
        </li>
      <% end %>
    </ul>
  </div>

  <% @vendas_por_mes.each do |mes, total_vendas| %>
    <div class="mes-vendas">
      <h3><%= mes %></h3>
      <p>Total de Vendas: <%= total_vendas%> </p>
      <h2>Lucro Total: <%= number_to_currency(@lucro, unit: "R$", separator: ",", delimiter: ".") %></h2>
    </div>
  <% end %>
  </div>
</div>